# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
*.env

# Audio / checkpoints
checkpoints/
data/raw/
data/processed/*.wav
*.pt

# Logs / outputs
*.log
*.out

# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
